@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-size: 30px;
  font-weight: 1000;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 20px;
}

.pageSectionBody {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.underConstructionPage {
  text-align: center;
  margin-top: 220px;
  font-size: 25px;
}

button {
  font-size: 12px;
}

.bordering {
  border: 1px black solid;
}





